body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-container.light {
  background: #f5f5f5;
  color: #000;
}

.page-container.dark {
  background: #121212;
  color: #fff;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 28px;
}

.top-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input,
.category-select {
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.theme-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: rgb(10, 4, 19);
  color: white;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px #0002;
  transition: 0.3s;
}

.page-container.dark .product-card {
  background: #1e1e1e;
  box-shadow: 0 2px 10px #0006;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.cart-btn {
  background-color: #6a0dad; /* Purple */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.details-btn {
  padding: 10px 12px;
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: #00b14f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.page-container.dark .cart-btn,
.page-container.dark .details-btn {
  background: #444;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  gap: 8px;
}

.page-btn {
  padding: 10px 14px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.page-btn.active {
  background: orange;
}

